.type .img {
  display: flex;
  overflow-x: scroll;
}
.liste {
  margin: 5px;
  list-style: none;
}

body {
  background-color: black;
}

h2 {
  color: white;
  font-size: 20px;
}

.liste img {
  height: 120px;
}

img {
  height: 100px;
}
